@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

body
{
    font-family: 'Roboto', sans-serif;
}
a
{
    text-decoration: none;
}

.gallary{
width: 1440p;
margin-top: 50px;
margin-left: 300px;
}

.Auto-cars{
  margin-left: 10px;
}

.wrapper{
  display: inline-block;
  margin: 10px;
}

.card {
  width: 300px;
  background: #fafafa;
  border: 1px solid gray;
  border-radius: 3px;
}


.product-car {
  border-radius: 3px;
    padding: 25px;
    background: #f0f0f0;
}

.product-car img {
    max-width: 100%;
    max-height: 100%;
}

.details {
  
   padding: 20px;
}

.details .details-text{
  width: 248px;
}



.details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}


.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.details-bottom {
    border-top: 1px solid #eee;
    padding-top: 20px;
}


.details-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;

}

.details-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}



.btn {
    display: inline-block;
    margin-top: 10px;
    border-radius: 4px;
    color: #000000;
    border:none ;
    width: 100px;
    font-size: 17px;
    padding: 5px 10px;
}

