@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
  font-family: "Ubuntu", sans-serif;
}

hr{
  border: 0.1px solid #46a35925 ;
  background: transparent 50%;
  width: 1200px;


}
hr:hover{
  cursor: pointer;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.header{
  margin-top: 30px;
}
.header-menu{
display: flex;  
 justify-content: space-between; 
 height: 53px;

}
.header-nav{
display: flex;
}
.block{
  display: inline-block;
}
.header-main{
  display: block;
  margin-top: 11px;
  background-color:#F5F5F5;
}

.line{
  color:#46A358;
}
.logo {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
}
.header-items li {
  width: 110px;
}
.img{
  margin-right: 123px;
  width: 507px;
  height: 45px;
}


.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  background-clip: content-box;
}

.menu li {
  position: relative;
}

.menu li a {
  text-decoration: none;
  display: block;
  font-weight: 400;
  font-size: 16px;
  color:#3D3D3D;
  padding: 8px 14px;
}
.arr-right{
  width: 6px;
  height: 10px;
  align-items:center;
  margin-top: 4px;
  margin-left: 50px;
}

 .dropdown:hover {
 cursor:pointer;
 border-bottom: 3px solid green;
 color:#fff;
}

.dropdown-content li a{
   background: #EDF6EE;
}
.dropdown-content li a .drop-conts:hover {
  border-bottom: none;
  color:#fff;
  background-color: #1A712A;
}
.dropdown li a:hover{
 background-color: #1A712A
}

.dropdown-content{
    background-clip: content-box;
}
.dropdown-content, .sub-dropdown-content {
  width: 188px;
  height: 143px;
  display: none;
  position: absolute;
  left: -50%;
  top: 100%;
  list-style: none;
  padding:15.5px;
 
}

.sub-dropdown-content li {
  left: 141%;
  top: -128%;
  color: #fff;
  
}

.drop-conts{
  border-bottom: none;
  background: #1A712A;

}

.dropdown:hover .dropdown-content,
.sub-dropdown:hover .sub-dropdown-content {
display: block;
}




.list-items {
    display: flex; 
    flex-direction: column; 
    align-items:center;
    width: 188px;
    padding: 8px 112px 8px 4px;
    background:#EDF6EE;
}
.list-item {
  display: inline-block;
  background:#EDF6EE;
  width: 86px;
  height: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 100%;
}
.list-item a {
width: 188px;
}
.ar-right{
  display: inline-block;
  align-items:center;
  width: 6px;
  height: 10px;
  margin-top: 4px;
}
.login {
  float: right;
  background-color: green;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 100px;
  height: 35px;
  border-radius:6px;
}
.active{
  padding-bottom: 10px;
  color:green;
  box-shadow: 0px 5px 0px #46A358;
}
.navs-lis:hover {
   padding-bottom: 10px;
   color:green;
 
}

.text-banner{
 text-transform: uppercase;
 margin-top: 65px;
 margin-left: 45px;
 font-size: 14px;
 font-weight: 400px;
 width: 400px;
}
.main-wrapper{
display: inline-block;
padding-right: 70px;

}
.main-banner{
  display: inline-block;
  text-transform: uppercase;
  font-size: 70px;
  line-height: 70px;
  font-weight: bold;
  width: 572px;
  margin: 7px 0px 5px 45px;

}


.main-text_banner{
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  width: 550px;
  color:#727272;
  margin-left: 45px;
  margin-bottom: 44px;
}

.btn-main{
  display: inline-block;
  width: 140px;
  height: 40px;
  border-radius: 6px;
  color:#fff;
  background-color: #46A358;
  margin-left: 44px;
  text-align: center;
  }


/* Next block Categories */

 .left-wrapper{
  margin-bottom: 60px;
}
.side-bar{
  margin-top: 40px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    margin-top: 25px;
    font-size: 15px;
    cursor: pointer;
}
.side-wrapper{
  width: 310px;
}
.categories-block{
  margin-top: 40px;
}
.Categories{
  font-weight: bold;
  font-size: 18px;
}

.Categories:hover {
    background-color: #66bb6a; 
    color: rgb(255, 255, 255);
    cursor: pointer;

}
.Categories-items{
    margin-left: 12px;
    margin-top: 7px;
    font-size: 15px;
}
.Categories-items:hover{
   background-color: #66bb6a6e; 
    color: rgb(255, 255, 255);
    cursor: pointer;
}


.sale {
  width: 310px;
    text-align: center;
    margin-top: 20px;
}

 .products-nav{
  display: flex;
  justify-content: space-between;
  width: 930px;
  float: right;
  align-items: center;
 }
 nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: right;
}
.nav-i{
  background: #ffffff;
}

/* aside */
.section-aside{
  width: 310px;
  border-color: #5a4949;
}

.categories-list{
  width: 255px;
  padding-top: 14px;
  padding-left: 17px;
  background-color: #FBFBFB;
}
.categories-list_items span{
  color:#46A358;
}
.categories-list_items:hover{
    color:green;
    cursor: pointer; 
}
.aside{
    width: 20%;
    float: rightt;
    padding: 15px;
    margin-top: 14px;
    padding: 20px;
}

/* cards */
.section-sede_right{
float: right;
width: 900px;
}
.section-card{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 width: 930px;
 margin-top: 22px;
}

.categories-h2{
  width: 200px;
    font-size: 18px;
    font-weight: bold;
    color:#3D3D3D;
    padding-bottom:30px;
}

.categories-list_items{
  padding-left: 15px;
  padding-bottom: 40px;
  width: 103px;
 
}
.categories-list_items:hover{
 color: #46A358;
}
.prod-card{
  width: 258px;
  margin-right: 33px;
  margin-bottom: 70px;
  box-shadow: 5px 0px 5px rgb(192, 192, 192);
}

.prod-card:hover{
  background: lightgrey;
  cursor: pointer;
}
.prod-card h2{
  padding-top: 22px;
  font-size: 16px;
  padding-bottom: 6px;
  padding-left: 5px;
}
.prod-card p{
  color:#46A358;
  font-size: 19px;
  padding-left: 5px;
  margin-bottom: 5px;
}
.img{
  margin-top: 450px;
}


.pagination{
    display:flex;
    justify-content: right;
    margin-top: 90px;
    margin-bottom: 90px;
    color: #fff;
}
.one{
box-shadow:none;
background: #4CAF50;
  
}
.pagination a {
    display:flex;
    padding: 10px 15px;
    margin-right: 10px;
    text-decoration: none;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    color: #3D3D3D;
    width: 35px;
    height: 35px;
}
.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: none;
}
.pagination a:hover{
   background-color: #4CAF50;
    color: white;
}
/* blog */
.blog{
   margin-top: 69px;
}
.blog-cards{
  display: flex;
  justify-content: space-around;
  margin-bottom: 139px;
}

.card {
   margin:0 33px;
}

.card-item_img {
    width: 287px;
    height: 292px;
    border-radius: 10px;
    margin-bottom: 60px;
}
.content{
   width: 586px;
   margin-right: 30px;
}
.content-title{
   color: black;
   font-weight: bold;
   line-height: 24px;
   font-size: 18px;
   text-align: right;
   padding-bottom: 9px;
}
.content p{
   width: 292px;
   height: 45px;
   line-height: 24px;
   line-height: 24px;
   color: #727272;
   text-align: right;
   margin-bottom: 25px;
}

.content .btn-button {
    display: lock;
    padding: 10px 20px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    float: right; 
}
.content .btn-button:hover{
  background-color:#86c288;
}
.content .btn-button img{
    width: 18px;
    height: 18px;
}


.our-title{
  display: flex;
  justify-content: center;
  line-height: 16px;
  font-size: 30px;
  font-weight: 700;
  padding-top: 8px;
}
.our-text{
  display: flex;
  justify-content: center;
  padding-top: 15px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 35px;
}
.our-blog_cards{
  display: flex;
  justify-content: space-between;
}


.blog-card{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 268px;
  height: 362px;
  margin-bottom: 69px;
  background-color:#FBFBFB;
}
.blog-card_image{
  width: 100%;
  height: auto;
  padding-bottom: 8px;
}
.blog-card_content{
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 242px;
  height: 146px;
}
.blog-card_span{
  width: 222px;
  height: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #46A358;
  padding-bottom: 4px;
}
.blog-card_title{
  width: 189px;
  height: 52px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}
.blog-card_text{
  width: 242px;
  height: 44px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color:#727272;

}
.read-more{
  display: block;
  width: 89px;
  padding-top: 9px;
  color: #3D3D3D;
}
.sec{
  margin-top: 69px;
}

/* position-blogs */

.position-blogs{
  width: 840px;
  margin: 0 auto;
}
.navs-lis{
padding-left: 0;
background: none;
}
.pos-nav_l{
  margin-right: 10px;
}

.pos-navs{
  display: flex;
  justify-content: space-between;
      align-items: center;
  margin-top: 171px;

}

.pos-sail_card{
display: flex;
justify-content: space-between;
margin-top: 31px;
}
.sail-card{
  width: 258px;
  height: 350px;

}


.icons{
 width: 250px;
 height: 250px;
padding-bottom: 12px;
}
.sail-heading{
padding-bottom: 6px;
font-size: 16px;
font-weight: 400;
}
.price{
 color:#46A358;
 font-weight: bold;
}
.price-end{
  padding-left: 16px;
  font-style: 16px;
  color:#A5A5A5;
  text-decoration: line-through;
}
.discount {
  position:absolute;
  top: 14px;
  background-color: #27ae60;
  color: white;
  padding: 10px;
  font-weight: bold;
  border-radius: 5px;
 }
 .discount-card{
  width: 260px;
  height: 300px;
  margin-bottom: 12px;
  background: #FBFBFB;

 }

 .sail-card-b{
   position: relative;
 }
 .sail-card{
   position: relative;

 }
 .disc-card_img{
  
  width: 258px;
  height: 258px;
  padding:25px 4px 0px 4px ;
 }
  .disc-card_img .img-bg{
 
   height: 3px;
 
 }
 .sail-card-b:hover{
   margin-bottom: 4px;
   cursor: pointer;
   box-shadow:0px -5px 0px #27ae60 ;
   
 }
 .icon-1{
  position: absolute;
  top: 258px;
  left: 73px;
 }
  .icon-2{
  position: absolute;
  top: 258px;
  left: 115px;
 }
  .icon-3{
  position: absolute;
  top: 258px;
  left: 162px;
 }
.icon-btn{
   background:transparent;
}




